@model Dictionary<string, List<E_Commerce_Coffee_And_Tea_Client.DataAccess.ChiTietSanPham>>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPage_Main.cshtml";
}

@section Banner {
    <div class="w-[1280px] m-auto h-[380px]">
        <!-- Banner sử dụng SwiperJS -->
        <div class="swiper banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../assets/img/banner-1.jpg" alt="Banner 1" />
                </div>
                <div class="swiper-slide">
                    <img src="../assets/img/banner-2.jpg" alt="Banner 2" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
}

@section LibraryJS {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".banner", {
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
            },
        });
    </script>
}

<div class="w-[1280px] m-auto">
    <div class="my-5">
        <h1 class="text-2xl font-bold uppercase text-center text-green-800 m-10">Sản phẩm nổi bật</h1>
        <p class="text-center text-sm mb-5">
            Trải qua hơn 50 năm chắt chiu tinh hoa từ những búp trà xanh và hạt cà phê thượng hạng
            cùng mong muốn mang lại cho khách hàng những trải nghiệm giá trị nhất khi thưởng thức.
        </p>
    </div>
    @foreach (var category in Model)
    {
        <div class="my-5">
            <h1 class="text-2xl font-bold uppercase text-center text-green-800 m-10">@category.Key</h1>
            <div class="flex items-center flex-wrap gap-2">
                @foreach (var prod in category.Value)
                {
                    <div class="rounded-xl hover:shadow-full-line w-gap-2 border">
                        <div class="p-5 bg-gray-100">
                            <img src="@(prod.SanPham.hinhAnh)" alt="@prod.SanPham.tenSP" class="m-auto h-[135px]">
                        </div>
                        <div class="px-5 py-3">
                            <h3>
                                <a href="@Url.RouteUrl("ProductDetail", new { productId = prod.SanPham.maSP, sizeId = prod.Size.maSize })"
                                   title="@prod.SanPham.tenSP (@prod.Size.tenSize)">
                                    @if (prod.SanPham.tenSP.Length <= 20)
                                    {
                                        @prod.SanPham.tenSP @(" (") @(prod.Size.tenSize) @(")");
                                    }
                                    else
                                    {
                                        @prod.SanPham.tenSP.Substring(0, 20) @("...");
                                    }
                                </a>
                            </h3>
                            <p class="font-medium">@(string.Format("{0:N0} ₫", prod.donGia))</p>
                        </div>
                        <!-- <a href="#" class="block w-[158px] text-center m-auto mb-3 border py-2 rounded-xl bg-green-800 text-white"><i class='bx bx-cart-add pe-2'></i>Đặt mua</a> -->
                        <button class="block m-auto border px-10 py-2 mb-3 rounded-xl bg-green-800 text-white"><i class='bx bx-cart-add pe-2'></i>Đặt mua</button>
                    </div>
                }
            </div>
            <div class="flex">
                <div class="m-auto">
                    <button class="block border border-green-800 text-green-800 hover:text-white hover:bg-green-700 px-10 py-2 m-3 rounded-lg font-medium">Xem thêm</button>
                </div>
            </div>
        </div>
    }
</div>
@Html.Action("_PartialPage_Cart", "Cart")